<ng-container *ngIf="!isLoginRoute(); else loginOnly">
  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="" target="_blank">
          <img src="/public/EcuaComercio2.png" alt="logo">
          <h1>Aplicacion Form - PokeAPI</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzOpen nzTitle="Panel de Control" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/carousel">Carousel Pokemon</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/table">Pokemon API</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/user-manage">Manejo de Usuarios</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Formularios" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/form-login">Formulario Login</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/form-cedula">Formulario Cédula</a>
            </li>
          </ul>
        </li>
      </ul>

      <button class="details-button" (click)="openChangePasswordModal()">Cambiar Contraseña</button>    
      <button class="details-button" (click)="logout()">Cerrar Sesión</button>   
    </nz-sider>

    <nz-layout>
      <nz-header>
        <div class="app-header">
 
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-container>

<ng-template #loginOnly>
  <!-- Solo muestra el contenido del router en la ruta de login -->
  <router-outlet></router-outlet>
</ng-template>

<nz-modal
  *ngIf="isChangePasswordModalVisible"
  [nzVisible]="true"
  [nzTitle]="'Change Password'"
  (nzOnCancel)="closeChangePasswordModal()">
  <app-change-password-modal
    (changePassword)="onPasswordChange($event)"
    (close)="closeChangePasswordModal()">
  </app-change-password-modal>
</nz-modal>
